.App {
  padding: 20px;
}

.Header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
